*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #b68945;
}
.score {
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    z-index: 2;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
}
.clouds {
    position: absolute;
    width:550px ;
    animation:clouds-animation 20s infinite linear ;
}
 @keyframes clouds-animation {
    from {
        right:0 ;
    }
    to {
        right: 100%;
    }

 }
.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #2ca02c;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);

}

.pipe-obstaculo {
    position: absolute;
    bottom: 0px;
    width: 60px;   
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

.mario{
    width: 140px;
    position: absolute;
    bottom: 0 ;
    

}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes jump {
    0% {
        bttom:0;
    }

    40% {
        bottom: 190px;
    }
    50% {
        bottom: 1900px;
    }
    60% {
        bottom: 190px;
    }
    100% {
        bottom: 0;
    }
}

@media (max-width:600px) {
    .body {
        touch-action: none;
    }
    .game-board {
        height: 300px;

    }
    .mario {
        width: 90px;
    }
    .pipe-obstaculo {
        width: 40px;
    }
    .clouds {
        width: 250px;
    }

}
